<!DOCTYPE html>
<html>
    <head>
        <title>Bookings</title>
        <meta charset="UTF-8">
    </head>
    <body>
    {{#each records}}
        <div class="row">{{customerName}} - {{activity}}</div>
        <div class="row">{{fomKlo}} - {{tomKlo}}</div>
        <div class="row">{{objectName}}</div>
        <hr/>
    {{/each}}
    </body>
</html>
