<!DOCTYPE html>
<html>
    <head>
        <title>Bookings</title>
        <meta charset="UTF-8">
        <link href="css/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    {{#each records}}
        <div class="time-and-activity">{{fomKlo}} - {{tomKlo}}, {{customerName}} - {{activity}}</div>
        <div class="location">{{objectName}}</div>
        {{#unless @last}}
            <hr/>
        {{/unless}}
    {{/each}}
    </body>
</html>
